.NavMain {
    color: $color-grey-md;
	.linkgroup {
        font-size: 1.7rem;
		display: flex;
		justify-content: flex-start;
		align-items: left;
        padding:2%;
        border-bottom: 1px solid $color-grey-lt;
	}
    .linkgroup div:first-child{
        width: 80px;
    }
	a {
		color: $color-grey-md;
		text-transform: uppercase;
		text-decoration: none;
	}
}
