.ProjectBox{
    
    font-size: 1rem;
    color: $color-black;
    
    margin: 3vw 0vw;
    
    .project-item{
        display: flex;
        box-shadow: 0 2px 5px 0 #80808033, 0 2px 10px 0 #80808033;
        padding: 3vw;
    }
    .images{
        width: 40vw;
    }
    .infobox{
        width: 60vw;
        height: 300px;
    }
    .title{
        font-size: 2rem;
        color: $color-black;
    }
    .description{
        padding: 2vw 0vw;
        border-top: solid 1px $color-black;
        border-bottom: solid 1px $color-black;
    }
    .roles{
        color: $color-blue-md;
    }
}